@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem Vindo </h2>
<br/>
<div class="container">
  <div class="content">
      <div class="card">
  <div class="card-header">
    Vendas
  </div>
  <div class="card-body3">
     <canvas id="myChart"></canvas>
  </div>
</div>
 
</div>
</div>
<br />
<br/>
<div class="container1">
  <div class="content1">
      <div class="card1">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body1">
     <canvas id="myChart1"></canvas>
  </div>
</div>
</div>
</div>
 
<div class="container2">
  <div class="content">
      <div class="card2">
  <div class="card-header">
    Produtos
  </div>
  <div class="card-body">
     <canvas id="myChart2"></canvas>
  </div>
</div>
 
</div>
 

 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="~/js/site.js" asp-append-version="true"></script>
</div>
